@model IEnumerable<UrunViewModel>

@foreach (var item in Model)
{
    <div class="col-6 col-md-4 col-xl-3">

        <div class="product">
            <figure class="product-media">

                <a asp-action="Index" asp-controller="UrunDetay" asp-route-id="@item.Id">
                    <img src="@item.ResimUrlKucuk" alt="@item.ResimBaslik" class="product-image">
                </a>

                <div class="product-action">
                    <a href="#" class="btn-product btn-cart" title="Add to cart"><span>Sepete Ekle</span></a>
                </div><!-- End .product-action -->
            </figure><!-- End .product-media -->

            <div class="product-body">
                <div class="product-cat">
                    <a href="#">Bilgisayar</a>
                </div><!-- End .product-cat -->

                <h3 class="product-title"><a asp-action="Index" asp-controller="UrunDetay" asp-route-id="@item.Id">@item.Adi</a></h3>

                <!-- End .product-title -->

                <div class="product-price">
                    <span class="price"></span>
                    @item.Fiyat.ToString("C")
                </div><!-- End .product-price -->

            </div><!-- End .product-body -->
        </div>

        <!-- End .product -->

    </div>

    <!-- End .col-sm-6 col-md-4 col-xl-3 -->
}