@model IEnumerable<UrunViewModel>

<div class="sidebar sidebar-product">
    <div class="widget widget-products">
        <h4 class="widget-title">Benzer Ürünler</h4><!-- End .widget-title -->
        @foreach (var item in Model)
        {


            <div class="products">
                <div class="product product-sm">
                    <figure class="product-media">
                        <a asp-action ="Index" asp-controller="UrunDetay" asp-route-id="@item.Id">
                            <img src="@item.ResimUrl1" alt="Product image" class="product-image">
                        </a>
                    </figure>

                    <div class="product-body">
                        <h5 class="product-title"><a asp-action="Index" asp-controller="UrunDetay" asp-route-id="@item.Id">@item.Adi</a></h5><!-- End .product-title -->
                        <div class="product-price">
                            <span class="price">@item.Fiyat.ToString("C")</span>
                            
                        </div><!-- End .product-price -->
                    </div><!-- End .product-body -->
                </div><!-- End .product product-sm -->

            </div>

            <!-- End .products -->
        }
        <a href="category.html" class="btn btn-outline-dark-3"><span>Daha Fazla Göster</span><i class="icon-long-arrow-right"></i></a>
    </div><!-- End .widget widget-products -->


</div><!-- End .sidebar sidebar-product -->